.project
*/node-log.log
logs/*.log
*.log
!.gitignore
server/node_modules/*
.project
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace

ios/build/

.DS_Store
node_modules/
.expo/
npm-debug.log
TODO.md

.idea
.vscode
Exponent-*.app
*.log
